@import url(../css/navbar.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.line {
  background-color: rgba(0, 0, 0, 0.7);
  height: 1px;
  max-width: 600px;
  margin: 20px 0;
  margin-right: 20px;
}

.mainNavbar {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarItems .ul {
  display: flex;
  margin-bottom: 0px;
  padding: 10px 0;
}
.navbarItems li {
  list-style: none;
  display: flex;
  margin: 0 5px;
}
.navbarItems a {
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.navbarItems a:hover {
  font-weight: 900;
}

.mainSection {
  background-color: rgb(28, 109, 157);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}
.mainSection .title {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  margin-bottom: 10px;
}
.mainSection .subtitle {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  font-size: 30px;
  margin-bottom: 100px;
}
.mainSection .btn {
  border: none;
  background-color: white;
  padding: 20px 50px;
  font-family: "Rubik", sans-serif;
  color: rgb(28, 109, 157);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.mainSection .downloadBtn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  padding-top: 50px;
  transition: all 0.3s;
}
.mainSection .downloadBtn:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.about .carousel-item img {
  object-fit: cover;
  height: 800px;
}
.about .carousel-item .bgAlpha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .carousel-item .bgAlpha .alpha {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  width: 500px;
  height: 400px;
}
.about .carousel-item .bgAlpha .text {
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about .carousel-item .bgAlpha .text img {
  padding-top: 50px;
  width: 100px;
  height: 100%;
}

.icons {
  padding-top: 10px;
}
.icons .iconSvg {
  width: 35px;
  opacity: 0.5;
  margin-top: -28px;
}
.icons i {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}
.icons i:hover {
  color: white;
}
.icons .fa-figma {
  overflow: hidden;
}
.icons .fa-brands {
  overflow: hidden;
  font-size: 35px;
  margin-right: 15px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.icons .fa-brands:hover {
  color: white;
}
.icons .adobe {
  letter-spacing: 0px;
  padding: 5px;
  margin-right: 15px;
  font-weight: 500;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  border-radius: 5px;
}
.icons .adobe:hover {
  background-color: rgb(255, 255, 255);
}

#bgMotion {
  z-index: 100;
}

.wrappermain .navbarItems .logoImg {
  margin: 5px 10px;
}
.wrappermain .navbarItems .logoImg img {
  width: 80px;
}

.workSection {
  padding: 150px;
  background-color: #2d2d2d;
}
.workSection h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  padding-bottom: 100px;
}
.workSection p {
  opacity: 0.7;
}
.workSection .tagFeature {
  color: white;
  border: 1px solid white;
  display: inline-block;
  border-radius: 30px;
  padding: 5px 20px;
  opacity: 0.8;
}

.set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.set .cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.imgbox {
  max-width: 350px;
  height: 550px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.imgbox .alpha {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
}
.imgbox .alpha .description {
  padding: 0 30px;
}
.imgbox .alpha .description .line {
  background-color: rgba(255, 255, 255, 0.6);
}
.imgbox .alpha .description h2 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  color: white;
}
.imgbox .alpha .description h3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}
.imgbox .alpha .description p {
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  color: white;
}
.imgbox .alpha .description p span {
  display: inline-block;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1px 10px;
  margin: 0 5px;
}
.imgbox .alpha .description p span:hover {
  background-color: rgb(28, 109, 157);
}
.imgbox .working {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imgbox:hover .alpha {
  opacity: 1;
  z-index: 10;
}

.imgbox:hover .working {
  transform: scale(1.2);
}

#footer {
  width: 100%;
  padding: 100px;
  background-color: #252525;
}
#footer h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#footer p {
  z-index: 1;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 600px) {
  .mainNavbar {
    height: 70px;
  }
  .navbarItems {
    display: flex;
    justify-content: center;
  }
  .navbarItems .logoImg {
    padding-top: 15px;
  }
  .navbarItems .ul {
    display: none;
  }
  .about .carousel-inner .carousel-item {
    height: 561px;
    overflow-y: hidden;
  }
  .about .carousel-inner .carousel-item .alpha {
    width: 300px;
    height: 480px;
  }
  .mainSection .title {
    font-size: 60px;
  }
  .mainSection .subtitle {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .mainSection .btn {
    padding: 20px 40px;
    font-size: 20px;
  }
  .workSection {
    padding: 100px 20px;
  }
  .workSection .container h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
  }
  .workSection .container p {
    text-align: center;
    display: none;
  }
  .workSection .container .imgbox {
    height: 350px;
  }
  .workSection .container .icons {
    display: none;
  }
  #footer {
    padding: 100px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
