@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarItems .logo {
  width: 150px;
  height: 50px;
  background-color: black;
}
.navbarItems ul {
  display: flex;
  justify-content: space-between;
  padding-right: -20px;
}
.navbarItems li {
  list-style: none;
  padding-right: 10px;
  margin: 0 5px;
}
.navbarItems a {
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  letter-spacing: 1px;
}

.mainSection {
  background-color: rgb(28, 109, 157);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}
.mainSection .title {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  margin-bottom: 10px;
}
.mainSection .subtitle {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  font-size: 30px;
  margin-bottom: 100px;
}
.mainSection .btn {
  border: none;
  background-color: white;
  padding: 20px 50px;
  font-family: "Rubik", sans-serif;
  color: rgb(28, 109, 157);
  font-size: 20px;
  cursor: pointer;
}

.about {
  height: 100vh;
  background-color: rgb(255, 236, 126);
  display: flex;
}
.about .aboutImg {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  flex: 1;
}
.about .aboutImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .intro {
  flex: 1;
  margin: auto;
  padding-left: 50px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
}
.about .intro .line {
  background-color: rgba(0, 0, 0, 0.7);
  height: 1px;
  max-width: 600px;
  margin: 20px 0;
  margin-right: 20px;
}
.about .intro h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
}
.about .intro h3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.about .intro p {
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 620px;
  padding-right: 20px;
}

.fa-brands {
  font-size: 30px;
}

.adobe {
  letter-spacing: 0px;
  padding: 3px;
  margin-right: 15px;
  font-weight: 500;
  background-color: black;
  color: #e8e470;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

.set .cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.imgbox {
  max-width: 350px;
  height: 550px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.imgbox:hover {
  opacity: 1;
}
.imgbox .alpha {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.imgbox .alpha .description {
  padding: 0 30px;
}
.imgbox .alpha .description h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}
.imgbox .alpha .description h3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}
.imgbox .alpha .description p {
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  color: white;
}
.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.imgbox:hover img {
  transform: scale(1.15); /* 当鼠标悬停在 .imgbox 上时，放大图片 */
}

/*# sourceMappingURL=main.css.map */
