.wrapper-hpss h1 {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.8);
}
.wrapper-hpss h2 {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.8);
}
.wrapper-hpss p {
  font-size: 18px;
  color: rgb(137, 137, 137);
  padding-top: 20px;
  line-height: 30px;
}
.wrapper-hpss .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper-hpss .mainSection {
  position: relative;
}
.wrapper-hpss .mainSection .alpha {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper-hpss .mainSection .imgbox {
  width: 100%;
  height: 600px;
}
.wrapper-hpss .mainSection .imgbox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wrapper-hpss .mainSection .text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper-hpss .mainSection .text h1 {
  color: rgba(255, 255, 255, 0.9);
}
.wrapper-hpss .mainSection .text p {
  color: rgba(255, 255, 255, 0.6);
  max-width: 800px;
}
.wrapper-hpss .mainSection .text .imgbox {
  padding-top: 20px;
  margin: 0 auto;
  width: 200px;
  height: 100%;
}
.wrapper-hpss .mainSection .text .imgbox img {
  width: 100%;
  height: 100%;
}
.wrapper-hpss .intro {
  padding: 100px 0;
}
.wrapper-hpss .intro .section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper-hpss .intro .section .textLeft {
  flex: 1;
  text-align: right;
}
.wrapper-hpss .intro .section .textRight {
  flex: 1;
  text-align: left;
}
.wrapper-hpss .intro .section .imgbox {
  flex: 1;
  width: 100%;
  height: 100%;
}
.wrapper-hpss .intro .section .imgbox img {
  width: 100%;
  height: 100%;
}
.wrapper-hpss .intro .section .device img {
  width: 60%;
  height: 100%;
}
.wrapper-hpss .optimize {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  padding: 150px 0;
}
.wrapper-hpss .optimize .text {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}
.wrapper-hpss .optimize .optimizeImg {
  display: flex;
  justify-content: space-evenly;
}
.wrapper-hpss .optimize .optimizeImg .imgbox {
  max-width: 300px;
  padding: 10px;
  padding-top: 50px;
  overflow: hidden;
}
.wrapper-hpss .optimize .optimizeImg .imgbox img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-hpss .usibilityTest {
  padding: 100px;
}
.wrapper-hpss .usibilityTest .text {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}
.wrapper-hpss .usibilityTest .imgbox {
  display: flex;
  justify-content: space-evenly;
}
.wrapper-hpss .usibilityTest .imgbox .img {
  text-align: center;
  padding: 20px;
  width: 50%;
  overflow: hidden;
}
.wrapper-hpss .usibilityTest .imgbox .img img {
  object-fit: cover;
}
.wrapper-hpss .testProcess {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  padding: 150px 0;
}
.wrapper-hpss .testProcess .text {
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.wrapper-hpss .testProcess .iconImg {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 20px;
}
.wrapper-hpss .testProcess .iconImg .imgbox {
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-top: 60px;
  border-radius: 75px;
  background-color: #FF6A16;
}
.wrapper-hpss .testProcess .iconImg p {
  width: 150px;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #FF6A16;
}
.wrapper-hpss .testProcess .iconImg img {
  width: 75%;
  height: 75%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper-hpss .functionMap {
  padding: 150px;
  text-align: center;
  margin: 0 auto;
}
.wrapper-hpss .functionMap .text {
  padding-bottom: 80px;
}
.wrapper-hpss .functionMap .imgbox {
  max-width: 900px;
  margin: 0 auto;
}
.wrapper-hpss .functionMap .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.wrapper-hpss .usibilityTest2 {
  padding-bottom: 150px;
}
.wrapper-hpss .usibilityTest2 .container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.wrapper-hpss .usibilityTest2 .text {
  width: 40%;
}
.wrapper-hpss .usibilityTest2 .imgbox {
  width: 40%;
  padding-top: 50px;
  padding-left: 50px;
}
.wrapper-hpss .usibilityTest2 .imgbox img {
  max-width: 350px;
}
.wrapper-hpss .usibilityTest2 .trainingImg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper-hpss .usibilityTest2 .trainingImg img {
  width: 30%;
  padding: 10px;
}
.wrapper-hpss .usibilityTest2 .historyText {
  max-width: 30%;
}
.wrapper-hpss .usibilityTest2 .historyText img {
  max-width: 200px;
}
.wrapper-hpss .usibilityTest2 .historyImg {
  display: flex;
  width: 30%;
  height: 100%;
}
.wrapper-hpss .usibilityTest2 .historyImg img {
  width: 100%;
  padding: 10px;
}
.wrapper-hpss .effective {
  padding: 150px 0;
  background-color: rgba(0, 0, 0, 0.03);
}
.wrapper-hpss .effective .textCenter h2, .wrapper-hpss .effective .textCenter p {
  text-align: center;
}
.wrapper-hpss .effective .chart01 {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper-hpss .effective .chart01 .text {
  flex: 2;
}
.wrapper-hpss .effective .chart01 .chart {
  flex: 3;
}

@media (max-width: 600px) {
  .wrapper-sidebar .sidebar h3 {
    padding: 50px 0;
    font-size: 25px;
  }
  .wrapper-sidebar .sidebar ul {
    display: none;
  }
  .wrapper-hpss .mainSection .imgbox {
    height: 1000px;
  }
  .wrapper-hpss .mainSection .text {
    padding-top: 100px;
  }
  .wrapper-hpss .intro .container .section .textLeft {
    flex: none;
    width: 100%;
    text-align: center;
    order: 1;
  }
  .wrapper-hpss .intro .container .section .textRight {
    flex: none;
    width: 100%;
    text-align: center;
  }
  .wrapper-hpss .intro .container .section .imgbox {
    flex: none;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-hpss .optimize .container .optimizeImg {
    flex-wrap: wrap;
  }
  .wrapper-hpss .usibilityTest {
    padding: 100px 10px;
  }
  .wrapper-hpss .usibilityTest .container .imgbox {
    flex-wrap: wrap;
  }
  .wrapper-hpss .usibilityTest .container .imgbox .img {
    width: 100%;
  }
  .wrapper-hpss .functionMap {
    padding: 100px 10px;
  }
  .usibilityTest2 .container .text {
    width: 100%;
  }
  .usibilityTest2 .container .historyText {
    max-width: 100%;
  }
  .usibilityTest2 .container .imgbox {
    width: 100%;
  }
  .usibilityTest2 .container .imgbox img {
    width: 200px;
  }
  .usibilityTest2 .container .trainingImg img {
    width: 100%;
    padding-top: 50px;
  }
  .usibilityTest2 .container .historyText {
    width: 100%;
  }
  .usibilityTest2 .container .historyText img {
    width: 200px;
  }
  .usibilityTest2 .container .historyImg {
    width: 100%;
    flex-wrap: wrap;
  }
  .usibilityTest2 .container .historyImg img {
    padding-bottom: 50px;
  }
  .effective .container .chart01 {
    flex-wrap: wrap;
  }
  .effective .container .chart01 .text {
    flex: none;
    width: 100%;
  }
  .effective .container .chart01 .chart {
    flex: none;
    width: 100%;
  }
  .effective .container .chart01 .myChart2 {
    order: 1;
  }
}
.scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s 0.3s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=work-hpss.css.map */
