* {
  box-sizing: border-box;
}

.wrapper-sakura h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}
.wrapper-sakura h2 {
  font-size: 40px;
}
.wrapper-sakura h3 {
  font-size: 30px;
}
.wrapper-sakura p {
  padding-top: 10px;
  line-height: 25px;
}
.wrapper-sakura .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper-sakura .mainImg {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.wrapper-sakura .mainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-sakura .poster {
  background-color: rgb(231, 231, 231);
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}
.wrapper-sakura .poster p {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.wrapper-sakura .poster .pres {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: #fff;
  margin-top: 40px;
  padding: 10px;
}
.wrapper-sakura .poster .pres img {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateX(50%);
}
.wrapper-sakura .awards .logo {
  padding-top: 50px;
  width: 50%;
  height: 50%;
}
.wrapper-sakura .awards .logo img {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .awards .awardLogo {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .awards .awardLogo img {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .awards p {
  padding-top: 20px;
  color: white;
  text-align: center;
}
.wrapper-sakura .intro1 {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper-sakura .intro1 h2 {
  width: 100%;
  text-align: center;
}
.wrapper-sakura .intro1 .imgbox {
  max-width: 500px;
  width: 50%;
  padding-top: 100px;
}
.wrapper-sakura .intro1 .imgbox img {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .intro1 .text {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}
.wrapper-sakura .intro1 .text h2 {
  font-size: 40px;
}
.wrapper-sakura .intro1 .text p {
  padding-top: 10px;
  line-height: 25px;
}
.wrapper-sakura .mainImg2 {
  background-color: #040506;
  width: 100%;
  height: 400px;
}
.wrapper-sakura .mainImg2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wrapper-sakura .interface {
  background-color: #040506;
  padding-top: 500px;
}
.wrapper-sakura .interface .text00 {
  text-align: center;
  color: white;
}
.wrapper-sakura .interface .text00 p {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper-sakura .interface .container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.wrapper-sakura .interface .imgbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper-sakura .interface .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-sakura .interface .imgbox2 {
  padding-top: 100px;
  flex: 1;
}
.wrapper-sakura .interface .imgbox2 img {
  width: 100%;
  height: 100%;
}
.wrapper-sakura .interface .text {
  flex: 1;
  color: white;
}
.wrapper-sakura .interface .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 150px;
}
.wrapper-sakura .interface .row .text {
  flex: 1;
}
.wrapper-sakura .interface .row .imgbox3 {
  flex: 1;
  max-width: 100%;
}
.wrapper-sakura .interface .row .imgbox3 img {
  max-width: 100%;
}
.wrapper-sakura .intro3 {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-sakura .intro3 h2 {
  text-align: center;
  padding-bottom: 50px;
}
.wrapper-sakura .intro3 .row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.wrapper-sakura .intro3 .col {
  flex: 1;
  padding-top: 20px;
  text-align: center;
}
.wrapper-sakura .intro3 .col img {
  max-width: 350px;
}
.wrapper-sakura .intro3 .col h3 {
  padding-top: 20px;
}
.wrapper-sakura .intro3 .col p {
  margin: 0 auto;
  max-width: 350px;
}
.wrapper-sakura .intro4 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.wrapper-sakura .intro4 .alpha {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.wrapper-sakura .intro4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 20%;
}

@media (max-width: 600px) {
  .wrapper-sidebar .sidebar h3 {
    padding: 50px 0;
    font-size: 25px;
  }
  .wrapper-sidebar .sidebar ul {
    display: none;
  }
  .wrapper-sakura .container .awards {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
  }
  .wrapper-sakura .container .awards .logo {
    width: 100%;
    height: 100%;
  }
  .container .intro1 .imgbox {
    width: 100%;
  }
  .container .intro1 .text {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .interface .container .imgbox2 {
    flex: none;
    width: 100%;
  }
  .interface .container .text {
    flex: none;
    width: 100%;
    text-align: center;
  }
  .interface .container .row .text {
    text-align: center;
    flex: none;
    width: 100%;
  }
  .intro3 .conatiner .row .col {
    padding: 0 20px;
  }
  .intro3 .conatiner .row .col img {
    max-width: 250px;
  }
}
.scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s 0.3s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=work-sakura.css.map */
