@import url(../css/navbar.css);

$mainTextColor: #ffffff;
$textColor: rgb(255, 255, 255);

// bgColor
$navColor: rgba(0, 0, 0, 0.9);
$mainSection: rgb(28, 109, 157);
$aboutColor: rgb(255, 236, 126);

//objectColor
$btn: white;
$lineColor: rgba(0, 0, 0, 0.7);

// text
@mixin fontH1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
}
@mixin fontH3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);
}

@mixin fontP {
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}
@mixin fontTitle {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
}
@mixin fontContent {
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  @include fontContent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.line {
  background-color: $lineColor;
  height: 1px;
  max-width: 600px;
  margin: 20px 0;
  margin-right: 20px;
}
// ------------------
// $navbar
// ------------------

.navbar {
  background-color: $navColor;
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 150px;
    height: 50px;
    background-color: rgb(176, 109, 109);
  }

  ul {
    display: flex;
    justify-content: space-between;

    padding-right: -20px;
  }

  li {
    list-style: none;
    padding-right: 10px;
    margin: 0 5px;
  }
  a {
    color: $textColor;
    @include fontContent;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    letter-spacing: 1px;
  }
}


// ------------------
// $main
// ------------------
.mainSection {
  background-color: $mainSection;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  letter-spacing: 2px;

  .title {
    @include fontTitle;
    margin-bottom: 10px;
  }
  .subtitle {
    @include fontTitle;
    font-size: 30px;
    margin-bottom: 100px;
  }

  .btn {
    border: none;
    background-color: $btn;
    padding: 20px 50px;
    @include fontContent;
    color: $mainSection;
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
  }
}

// ------------------
// $About
// ------------------
.carousel01{width: 100%;height: 50vh;background-color: #2d2d2d;}
.carousel02{width: 100%;height: 50vh;background-color: aqua;}
.carousel03{width: 100%;height: 50vh;background-color: bisque;}
.about {
  height: 50vh;
  // width: 100%;
  background-color: $aboutColor;

  display: flex;

  .aboutImg {
    width: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .intro {
    margin: auto;
    padding-left: 50px;
    line-height: 20px;
    @include fontContent;

    .line {
      background-color: $lineColor;
      height: 1px;
      max-width: 600px;
      margin: 20px 0;
      margin-right: 20px;
    }
    h1 {
      @include fontH1;
    }
    h3 {
      @include fontH3;
    }
    p {
      @include fontP;
      max-width: 620px;
      padding-right: 20px;
    }
  }
}

//icons
.icons {
  padding-top: 10px;
  i{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    &:hover{
      color: white;
    }
  }
  .fa-figma{
  overflow: hidden;
    
    
  }
  .fa-brands {
    overflow: hidden;

    font-size: 35px;
    margin-right: 15px;
    margin-top: 10px;

    color: rgba(255, 255, 255, 0.6);

    &:hover{
      color: white;
    }

  }
  .adobe {
    letter-spacing: 0px;
    padding: 5px;
    margin-right: 15px;

    font-weight: 500;
    font-size: 18px;

    background-color:rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.7);

    display: inline-block;
    border-radius: 5px;
      &:hover{
      background-color:rgba(255, 255, 255, 1);
    }
  }
}

// ------------------
// $workSection
// ------------------

.workSection {
  padding: 150px;
  background-color: #2d2d2d;

  h1 {
    @include fontH1;
    text-align: center;
    color: white;
  }
}
.set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tagAll {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    .text {
      padding: 10px 20px;
      margin: 10px 20px;
      border-radius: 20px;
      background-color: #ffffff;
      font-weight: 400;

      transition: all 0.2s ease;

      cursor: pointer;
      &:hover {
        background-color: $mainSection;
        color: white;
      }
    }
  }
  .cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
//卡片樣式
.imgbox {
  max-width: 350px;
  height: 550px;
  overflow: hidden;
  position: relative;

  border-radius: 10px;

  .alpha {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
    transition: all 0.3s ease;

    opacity: 0;

    .description {
      padding: 0 30px;

      .line {
        background-color: rgba(255, 255, 255, 0.6);
      }
      h2 {
        @include fontH1;
        font-size: 30px;
        color: white;
      }
      h3 {
        @include fontH3;
        color: white;
      }
      p {
        @include fontP;
        color: white;

        span{
          display: inline-block;
          border: 1px solid white;
          border-radius: 15px;
          padding: 1px 10px;
          margin: 0 5px;

          &:hover{
            background-color: $mainSection;
          }

        }
      }
    }
  }
  .working {
    width: 100%;
    height: 100%;
       object-fit: cover;

    transition: transform 0.3s ease;
  }
}

.imgbox:hover .alpha {
  opacity: 1;
  z-index: 10;
}

.imgbox:hover .working {
  transform: scale(1.2);
}

// ------------------
// $RWD
// ------------------

@media (max-width: 600px) {
  // .container {width: 375px;}
  .navbar {height: 100px;}
  .navbarItems{
    display: flex;
    justify-content: center;
    .logo{
      margin-top: 25px;
    }
    ul{
      display:none;
    }
  }

.mainSection{
  .title{font-size: 60px;}
  .subtitle{font-size: 20px;margin-bottom: 50px;}
  .btn{padding: 20px 40px;font-size: 20px;}
}
.about {
  .aboutImg{display: none;}
  .intro{padding-left: 0px;padding:0 20px}
}
.workSection {
  padding: 20px;
  .set{
    .tagAll{display: none;}
    .imgbox {height: 300px;}
  }
}
}