$mainTextColor: #ffffff;
$textColor: rgb(255, 255, 255);

// bgColor
$navColor: rgb(104, 104, 104);
$mainSection: rgb(28, 109, 157);

@mixin fontTitle {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 50px;
}
@mixin fontContent {
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  @include fontContent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

// ------------------
// $navbar
// ------------------

.navbar {
  background-color: $navColor;
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 150px;
    height: 50px;
    background-color: black;
  }

  ul {
    display: flex;
    justify-content: space-between;

    padding-right: -20px;
  }

  li {
    list-style: none;
    padding-right: 20px;
    margin: 0 5px;
  }
  a {
    color: $textColor;
    text-decoration: none;
    display: inline-block;
    // padding: 10px 25px;
  }
}

// ------------------
// $main
// ------------------
.mainSection {
  background-color: $mainSection;

  letter-spacing: 2px;
  .title {
    @include fontTitle;
  }
  .subtitle {
    @include fontTitle;
    font-size: 30px;
  }

  .btn {
    border: none;
    background-color: #ffffff;
    padding: 10px 20px;
    @include fontContent;
  }
}
