@import url(../css/template.css);

$mainSection: rgb(28, 109, 157);

html {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.top {
  z-index: 100;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  padding: 15px 0px;
  color: rgba(0, 0, 0, 0.8);
}
p {
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

/*----------------- 
lightbox section 
-----------------*/
.wrapper-lightbox {
  width: 100%;
  height: 90%;
  position: relative;

  .blackcover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -9;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
  }
}
.section-lightbox {
  padding: 150px 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.intro-lightbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: white;
  h1 {
    color: white;
  }
  p {
    max-width: 500px;
    color: white;
    text-align: center;
  }

  button {
    border: none;
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    margin: 100px 0px;
    background-color: $mainSection;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s ease;
    &:hover {
      background-color: rgb(255, 255, 255);
      color: $mainSection;
      //   border: 1px solid white;
    }
  }
}

.lightbox {
  //   z-index: 1;
  max-width: 1000px;
  height: 90vh;

  padding: 20px 20px;
  margin: 0 20px;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid black;
  background-color: white;
  border-radius: 10px;

  position: fixed;
  overflow-y: scroll;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    li {
      width: 250px;
      list-style: none;
      padding: 5px 20px;
      border-radius: 5px;
      margin-top: 10px;
      margin-right: 10px;
      border: 1px solid rgb(165, 165, 165);

      color: rgb(165, 165, 165);

      cursor: pointer;

      transition: all 0.2s ease;

      &:hover {
        background-color: rgb(165, 165, 165);
        color: white;
        border: none;
      }
    }
    .selectedchange {
      background-color: rgb(135, 177, 210);
      color: white;
      border: none;
    }
  }
  p {
    text-align: center;
    padding-top: 50px;
  }
  textarea {
    width: 500px;
    height: 50px;

    border: none;
    background-color: #f1f1f1;
    resize: none;
  }
  #featureText {
    border: 1px solid #ebf1f4;
    background-color: #ebf1f4;

    font-size: 16px;
    line-height: 25px;
    width: 500px;
    padding: 50px 40px;
    margin-top: 30px;
  }
  button {
    border: none;
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    margin: 60px 0px;
    background-color: $mainSection;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s ease;
    &:hover {
      background-color: rgb(58, 58, 58);

      //   border: 1px solid white;
    }
  }
  .btnClose {
    border: none;
    width: 10px;
    height: 10px;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #fff;

    color: grey;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: grey;
      font-size: 35px;
    }
  }
}

/*----------------- 
toast section 
-----------------*/
.wrapper-toast {
}

.section-toast {
  padding: 150px 50px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  .imgbox {
    // flex: 2;
    // padding: 150px 50px;
    padding-top: -150px;
    height: 500px;
    width: 60%;
    position: relative;

    // display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .toast {
      //   border: 1px solid black;
      padding: 20px 30px;
      margin: 0 20px;

      position: absolute;
      top: 12%;

      border-radius: 10px;

      cursor: pointer;

      transform: scale(0);
      opacity: 0;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }

      h3 {
        font-size: 1.5em;
        color: white;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .toast-error {
      background-color: #d07171;
      //   display: none;
    }
    .toast-success {
      background-color: #509d97;
      //   display: none;
    }
    .toast-show {
      display: block;
      opacity: 1;
      transform: scale(1);

      //   transition: all 0.2s ease;
    }
  }

  .introduction {
    // max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // flex: 1;

    button {
      border: none;
      max-width: 250px;
      height: 50px;
      padding: 10px 20px;
      background-color: $mainSection;
      color: white;
      font-size: 18px;
      margin: 10px 0px;
      //   margin: 10 auto;
      text-align: center;

      cursor: pointer;

      transition: all 0.2s ease;

      &:hover {
        background-color: rgb(49, 49, 49);
      }
    }
  }
}

/*----------------- 
Alert section 
-----------------*/
.wrapper-alert {
  background-color: rgb(244, 244, 244);
}
.section-alert {
  padding: 150px 50px;
  max-width: 1200px;
  height: 750px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-wrap: wrap;
}

.introduction {
  width: 350px;
}

.component-alert {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.alert {
  max-width: 600px;
  padding: 5px 10px;
  position: relative;

  margin: 10px 0;
  transition: all 0.2s ease;

  //   cursor: pointer;

  i {
    font-size: 40px;
    position: absolute;
    top: 30%;
    margin-left: 20px;
  }
  h3 {
    padding-top: 20px;
    font-size: 20px;
    margin-left: 80px;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    margin-left: 80px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
  }
  button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.alertSuccessful {
  background-color: rgb(206, 235, 244);
  border-left: 10px solid rgb(52, 104, 168);
  h3,
  i {
    color: rgb(52, 104, 168);
  }
}
.alertFailed {
  background-color: rgb(255, 228, 228);
  border-left: 10px solid rgb(190, 85, 85);
  h3,
  i {
    color: rgb(190, 85, 85);
  }
}
.alertAction {
  background-color: rgb(253, 254, 234);
  border-left: 10px solid rgb(179, 141, 7);
  h3,
  i {
    color: rgb(179, 141, 7);
  }
}
.alertInformation {
  background-color: rgb(215, 249, 219);
  border-left: 10px solid rgb(54, 162, 122);
  h3,
  i {
    color: rgb(54, 162, 122);
  }
}

.alert:hover {
  transform: scale(1.05);
}

.btn {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;

  font-size: 20px;
}
.btn:hover {
  transform: scale(1.5);
}
